
.event-container {
    width: 100%;
    
}
.event-hero img {
    width: 100%;
}
.sponsor {
    width: 100%;
    height: 100px;
    margin-top: -3px;
    background: rgba(12, 12, 12, 0.911);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.sponsor h3 {
    text-align: center;
    color: var(--light-color);
    margin: auto;
    display: block;
    width: 100%;
    font-size: 16px;
}
.sponsor-flex{
    position: absolute;
    max-width: 100%;
    animation: slide 45s infinite ;
    display: flex;
    justify-content: center;
    top: 0; bottom: 0;
    margin: auto;
    box-sizing: border-box;
    overflow-x: hidden;
}

.sponsor-flex img {
   width: 100%;
   height: 54px;
   margin: auto;
   margin-left: 30px;
   box-sizing: border-box;
  
}
@keyframes slide{
   from {
       left: 100%;
       opacity: 1;
   }
   to {
    left: -100%;
    opacity: 0;
   }
}
.tagline {
    text-align: center;
}
.tagline h2{
  
    margin-top: 80px;
    font-family: 'JamesFajardo';
    font-size: calc(65px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.talent {
    width: 100%;
    max-width: 100vw;
    margin: 80px 0;
}
.tagline img{
    width: 100%;
}


@media screen and (max-width: 940px) {
    .sponsor {
        height: 75px;
        background: rgba(12, 12, 12, 0.911);
        
    }
    .sponsor-flex{
        position: absolute;
        max-width: 100%;
        animation: slide none;
    }
    .sponsor-flex img {
        width: 100%;
        height: 50%;
     }
     .tagline h2{
  
      
        font-size: calc(35px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
    }

}

