.hero {
    max-width: 100%;
     
}
.container img {
    width: 100%;
    height: 100vh;
    position: relative;
}
.container {
    max-width: 100%;
    position: relative;
    height: 100%;
}
.bg2 {
    height: 90vh;
    width: 100%;
}


.hero-content {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(230, 230, 230);
    z-index: 1;
    bottom: 0;
}

.hero-content h1 {
    font-size: calc(40px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    text-transform: uppercase;
    font-weight: bold;
}
.hero-content h1 span {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.hero-content h2{
    font-size: calc(20px + (24 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Yesteryear', cursive;
    font-weight: 100;
    letter-spacing: 1.2px;
}

.hero-content h2 span {
    text-transform: uppercase;
    color: gold;
    font-family: poppins;
    letter-spacing: normal;
    font-weight: 700;
}
.hero-content p {
    width: 50%;
    text-align: center;
    padding: 1rem;
    color: rgb(190, 190, 190);
    font-size: calc(10px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
}
.hero-content h2 .and {
    text-transform: none;
    color: rgb(212, 211, 211);
    font-size: calc(20px + (24 - 14) * ((100vw - 300px) / (1600 - 300)));
}
.senjaTicket {
    position: absolute;
    width: 100%;
    bottom: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    color: rgb(17, 17, 17);
    z-index: 1;
    
}
.btn {
    margin-top: 30px;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    border-radius: 20px;
    background: linear-gradient(374deg, rgb(16, 32, 104), rgb(11, 112, 170));
    box-shadow: inset -3px -3px 5px #0f1a33d5,0 0 3px rgba(0, 0 , 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
a .btn  {
    font-size: calc(12px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
    color: rgb(170, 169, 169);
    font-weight: 400;
}

.btn:hover {
    background: #13203d;
    color: rgb(99, 99, 99);
}
.senjaTicket h2 {
    font-weight: bolder;
    font-size: calc(16px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
    margin-left: -85px;
    margin: 2rem 7rem 2rem 0;
}
.Ebtn {
    border: none;
    outline: none;
    background: wheat;
    padding: 1rem 2rem;
    border-radius: 20px;
    font-weight: 700;
    box-shadow: inset -3px -3px 5px #d6c490a2, 0px 0px 5px 1px #d6c490a2;
}

@media screen and (min-width: 1200px) {
    .hero-content {
        bottom: 32%;
    }
}

@media screen and (max-width: 940px) {
    .hero {
        width: 100%;
        max-width: 100vw;
    }
    .hero-content {
        bottom: 10%;
        padding: 1rem;
        width: 100%;
        text-align: center;
        padding: 1rem;
    }
    .bg2 {
        width: 100%;
        height: 50vh;
    }
    .container img {
       width: 100%;
    }
    .hero-content h1 {
        font-size: calc(30px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    }
    .hero-content h2 {
        font-size: calc(20px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    }
    .hero-content p{
        font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
        width: 100%;
    }


}
@media screen and (width: 769px) {
    
    .hero-content h1 {
        font-size: calc(30px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    }

}